.my-icon {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.icon-dc {
  background: #8b0023;
}

.loc_name{
  margin: 1.2em 0 1.2rem 1.2rem;
  color: #8b0023;
}